{
  "presets": [
    [
      "@babel/preset-env",
      {
        "exclude": ["transform-typeof-symbol"],
        "loose": true
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-macros",
    [
      "@babel/plugin-transform-destructuring",
      {
        "loose": false
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
